* {
    margin: 0px;
    padding:0px;
    border:0px;
}

body{
    display: flex;
    flex-flow:column nowrap;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
 

/* ////////////////////
        Header
 ////////////////////// */
header {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width: 100vw;
    padding:8px ;
}
#home{
    color: white;
    text-decoration: none;
}
#logo {
    width: 50px;
}

#home {
    display: flex;
    flex-flow: row wrap;
    width:150px;
    align-items: center ;
}
#siteName{
    margin-left: 8px;
    font-size: 28px;
}
#search-form{

    flex-grow:1;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    padding-right: 16px;
}
#search-form input {
    flex:1;
    max-width: 700px;
    font-size: 16px;
    background-color:#1D1D1E ;
    color: #D3D3D4;
}
#searchBtn {
    border-radius: 5%;
    background-color: black;
    color:white;
    border: 1px lightgray solid;
    font-size: 30px;
}





/* ////////////////////
        Main
 ////////////////////// */
main {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}





/* //// Movie Page //// */
#movie-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow:column nowrap;
    overflow-y:auto;
    left: 0;
    right:0;
    top:0;
    background-color: #e1e1e1e7;
    color:black;
    display: none;
    padding-bottom: 300px;
    z-index: 2;
    position: fixed;
}

#movie-page #closeBtn{
    font-size: 32px;
    background-color: black;
    color: white;
    padding: 8px;
    margin-bottom: 16px;
}

#movie-page .backdrop {
    align-self: center;
    width:80%;
    z-index: -1;
}


#movie-details {
    display: flex;
    flex-flow: column nowrap;
}
#movie-details .poster {
    width:20%;
    min-width: 300px;
}
#movie-details #info{
    margin-top: 16px;
    margin-left: 16px;
    display:flex;
    flex-flow: column nowrap;
}
#row2 {
    display: flex;
    justify-content: center;
}

/* .description{
    max-width:600px ;
} */

#movie-page .star{
    height: 30px;
}

#divider{
    margin-left: 8px;
    margin-right: 8px;
}







/* //// Movie Grid //// */
#movies {
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movie {
    flex: 1 0 350px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
    margin: 16px;
}
.movie:hover{
    width: 355px;
    margin: 10px 13.5px;
}

.movie:hover .poster{
    box-shadow: 0px 0px 20px white;
    /* Makes the box grow while keeping them the same */
}

.movie .poster {
    align-self: flex-end;
    width:100%;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0);
}

.movie-bar {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.movie .star {
    height:  30px;
    margin-right: 8px;
}
.movie .rating {
    display: flex;
    align-items: center;
}




#loadBtn {
    display: block;
    height: 75px;
    width: 200px;
    align-self: center;
    border-radius: 5%;
    background-color: #1D1D1E;
    color:white;
    border: 1px lightgray solid;
    font-size: 30px;
    margin-bottom: 16px;
}
#player{
    width: 64vw;
    height: 36vw;

}

@media (max-width:900px){
    #movie-page{
        align-items: center;
    }
    #movie-page .backdrop{
        display: none;
    }
    #movie-page .poster{
        width: 70%;
    }
    #movie-details{
        align-items: center;
        flex-flow: column nowrap;
    }
    #row2{
        flex-flow: column nowrap;
        align-items: center;
    }
    #player-container{
        display: flex;
        justify-content: center;
    }
    .description{
        max-width: 400px;    
        font-size: 20px;
    }
    header {
        flex-flow:column nowrap ;
        height: 150px;
        justify-content: space-between;
        align-items: center;
    }
    header #branding{
        margin-bottom: 8px;
    }
    header form{
        width:90%;
    }

    
}
@media (min-width:900px){
    #movie-page .poster{
        position: relative;
        bottom:300px;
        margin-bottom: -300px;
        max-height: 450px;
    }
    #movie-page #row2 {
        margin-bottom: -300px;
        flex-flow: row nowrap;
    }

    #info{
        flex: 1 0 175px;
    }
    .description{
        margin-right: 10vw;
        font-size: 30px;
    }

    #player-container{
        display: flex;
        justify-content: center;
        margin-top: 320px;
    }

}
@media (max-width:1700px) {

    .description{
        font-size: 24px;
    }
    
}

@media (min-width:1700px) {
    #movie-page .backdrop{
        max-width:1500px ;
        margin-bottom: 8px;
    }
    #movie-page .poster{
        max-width:300px ;
    }
    
    #player-container{
        margin-top: 25vh;
    }
    
}