body{
    display: flex;
    flex-flow:column nowrap;
    background-color: black;

    color:white;
}


/* ////////////////////
        Header
 ////////////////////// */
header {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width: 100vw;
}

#branding {
    width:150px;
}
#search-form{

    flex-grow:1;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    padding-right: 16px;
}
#search-form input {
    flex:1;
    max-width: 700px;
}

/* ////////////////////
        Main
 ////////////////////// */
main {
    display: flex;
    flex-flow:column nowrap;
}
#movies {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movie {
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
    margin: 16px;
}
.movie:hover{
    width: 355px;
    margin: 10px 13.5px;
}

.movie:hover .poster{
    box-shadow: 0px 0px 20px white;
    /* Makes the box grow while keeping them the same */
}

.poster {
    align-self: flex-end;
    width:100%;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0);
}

.movie-bar {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.star {
    height:  30px;
    margin-right: 8px;
}
.rating {
    display: flex;
    align-items: center;
}

#loadBtn {
    height: 100px;
    width: 300px;
    align-self: center;
}