* {
    margin: 0px;
    padding:0px;
    border:0px;
}

body{
    display: flex;
    flex-flow:column nowrap;
    background-color: black;

    color:white;
}


/* ////////////////////
        Header
 ////////////////////// */
header {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width: 100vw;
    padding:8px ;
}
#home{
    color: white;
    text-decoration: none;
}
#logo {
    width: 50px;
}

#home {
    display: flex;
    flex-flow: row wrap;
    width:150px;
    align-items: center ;
}
#siteName{
    margin-left: 8px;
    font-size: 28px;
}
#search-form{

    flex-grow:1;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    padding-right: 16px;
}
#search-form input {
    flex:1;
    max-width: 700px;
    font-size: 16px;
    background-color:#1D1D1E ;
    color: #D3D3D4;
}
#searchBtn {
    border-radius: 5%;
    background-color: black;
    color:white;
    border: 1px lightgray solid;
    font-size: 30px;
}





/* ////////////////////
        Main
 ////////////////////// */
main {
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}





/* //// Movie Page //// */
#movie-page{
    width: 100vw;
    height: 100vh;
    position:fixed;
    left: 0;
    top:0;
    background-color: #e1e1e1e7;
    color:black;
    display: none;
    padding: 16px;
}

#movie-page #closeBtn{
    font-size: 32px;
    background-color: black;
    color: white;
    padding: 8px;
}

#movie-page .backdrop {
    align-self: center;
    width:80vw;
    left: 0;
    top: 0;
    position:relative;
    z-index: -1;
}

#movie-page .poster {
    width:20%;
    min-width: 300px;
    position: relative;
    bottom:300px;
    margin-bottom: none;
}
#movie-page .star{
    height: 30px;
}

#movie-details {
    display: flex;
    flex-flow: column nowrap;
}
#movie-details #info{
    margin-top: 16px;
    margin-left: 15px;
    display:flex;
    flex-flow: column nowrap;
    flex: 1 0 175px;
}
#row2 {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: -300px;
    margin-right: 32px;
}
#row2 #rating{
    float:right;
}


#divider{
    margin-left: 8px;
    margin-right: 8px;
}

#player-container{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}





/* //// Movie Grid //// */
#movies {
    width:80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.movie {
    flex: 1 0 350px;
    display: flex;
    flex-flow: column nowrap;
    font-size: 24px;
    margin: 16px;
}
.movie:hover{
    width: 355px;
    margin: 10px 13.5px;
}

.movie:hover .poster{
    box-shadow: 0px 0px 20px white;
    /* Makes the box grow while keeping them the same */
}

.movie .poster {
    align-self: flex-end;
    width:100%;
    border-radius: 3%;
    background-color: rgba(255, 255, 255, 0);
}

.movie-bar {
    padding: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.movie .star {
    height:  30px;
    margin-right: 8px;
}
.movie .rating {
    display: flex;
    align-items: center;
}




#loadBtn {
    display: block;
    height: 75px;
    width: 200px;
    align-self: center;
    border-radius: 5%;
    background-color: #1D1D1E;
    color:white;
    border: 1px lightgray solid;
    font-size: 30px;
    margin-bottom: 16px;
}